<h1>Lista</h1>
<button type="button" class="btn btn-primary" routerLink="/dpremios">Nuevo</button>

<br/>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Detalle Distincion</th>
        <th scope="col">Institucion</th>
        <th scope="col">Pais</th>
        <th scope="col">Fecha</th>
        <th scope="col">Resolucion</th>
        <th scope="col"></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let cat of dpermisos">
        <th >{{cat.id}}</th>
        <td>{{cat.detalleDistincion}}</td>
        <td>{{cat.institucion}}</td>
        <td>{{cat.pais}}</td>
        <td>{{cat.fecha}}</td>
        <td>{{cat.resolucion}}</td>
        <td>
          <a class="btn btn-primary btn-sm" routerLink="/depremios/{{cat.id}}">Editar</a>
          <a class="btn btn-danger btn-sm" (click)="delete(cat.id)">Eliminar</a>
        </td>
        
      </tr>

      
    </tbody>
  </table>